h1 {
    align-self: flex-start;
    margin-left: 20px;
    color:black;
}


.editTaskContent {
    margin-left: 232px;
    margin-top: 89px;
    max-width: 1000px;
    width: 100%;
    max-height: 98vh;
}

.popup-headline {
    display: flex;
    flex-direction: column;
    background-color: unset;
    color: unset;
    box-shadow: unset;
    border-top-right-radius: unset;
    border-top-left-radius: unset;
}

.taskPropertyContainer {
    overflow-y: auto;
}

@media (max-width: 900px) {
    .editTaskContent {
        margin-left: unset;
        margin-top: unset;
    }
    main {
        background-color: #F5F5F5;
    width: 100%;
    height: calc(100dvh - 80px - 79.02px);
    position: absolute;
    top: 80px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
}
}
