@media(max-width: 690px) {
    .logo {
        width: 64px;
        top: 11px;
        left: 18px;
    }

    .changeBgColor {
        animation: changeBgColor 1s ease-in-out;
    }

    @keyframes changeBgColor {
        0% {
            background-color: #2A3647;
        }

        100% {
            background-color: #F6F7F8;
        }
    }

    .fadeIn {
        animation: fadeIn 1s ease-in-out;
    }

    @keyframes fadeIn {
        0% {
            opacity: 0%;
        }

        40% {
            opacity: 0%;
        }

        100% {
            opacity: 100%;
        }
    }

    .moveLogo {
        animation: moveLogo 1s ease-in-out;
        z-index: 10;
    }

    @keyframes moveLogo {
        0% {
            top: 50dvh;
            left: 50vw;
            width: 100px;
            transform: translate(-50%, -50%);
        }

        25% {
            transform: translate(-50%, -50%);
        }

        100% {
            width: 64px;
            top: 11px;
            left: 18px;
        }
    }

    .loginArea {
        grid-template-columns: 65px auto 65px;
    }

    .loginHeadlineText {
        font-size: 47px;
    }

    .loginHeadlineSeperator {
        width: 88px;
        margin-bottom: 6px;
    }

    .loginRememberMeForgotPassword {
        flex-direction: column-reverse;
        margin-top: 0;
        gap: 20px;
    }

    .loginButtons {
        flex-direction: column;
        align-items: center;
        gap: 21px;
    }

    .loginButton {
        width: 180px;
        font-size: 16px;
    }

    .loginGuestButton {
        width: 180px;
        font-size: 16px;
    }

    .loginPage {
        flex-direction: column-reverse;
        display: flex;
    }

    .inputFieldContainer {
        margin-top: 0;
    }
}

@media (max-height: 825px) {

    .signInText {
        font-size: 15px;
    }

    #loginBox {
        padding: 23px 10%;
    }
}


@media (max-width: 400px) {

    .loginInputField {
        font-size: 16px;
    }

    .loginArea {
        grid-template-columns: 45px auto 45px;
    }
}