body {
    margin: 0;
    background-color: #F5F5F5;
}

.aroundLegalContainer {
    overflow-y: auto;
}

.help-side {
    position: absolute;
    top: 130px;
    left: 355px;
    right: 130px;
    display: flex;
    flex-direction: column;
}

.legal-side {
    display: flex;
    flex-direction: column;
}

.help-hl {
    display: flex;
    justify-content: space-between;
    font-size: 30px;
}

.help-hl img:hover {
    cursor: pointer;
}

.backImage {
    position: relative;
    top: 15px;
    right: 15px;
}

.legalBackImage {
    align-self: center;
}

@media (max-width: 1300px) {
    .legal-side {
        top: 20px;
        padding-bottom: 20px;
    }


}

@media (max-width: 900px) {
    .aroundLegalContainer {
        overflow-y: auto;
    }

    .help-side {
        display: flex;
        justify-content: center;
        left: 0;
        right: 0;
        margin-left: 33px;
        margin-right: 32px;
        top: 100px;
    }

    .legal-side {
        left: 130px;
    }
}

@media (max-width: 650px) {
    .help-hl {
        font-size: 20px !important;
    }

    .legal-side {
        left: 15px;
        right: 15px;
    }
}

@media (max-width: 400px) {
    .help-side {
        top: 75px;
    }

    .legalBackImage {
        position: relative;
        top: 20px;
    }

    .help-hl {
        font-size: 20px;
    }

    .help-hl h1 {
        font-size: 40px;
    }
}