@media (max-width: 900px) {
  .editTaskContent {
    width: 100vw;
    max-height: 100vh;
    border-radius:0px;
  }
  
  .task-board {
    height: 100%;
    border-radius:0px;
  }

  .line {
    display: none;
  }

  .adding-todos {
    flex-direction: column;
    align-items: center;
  }

  .adding-tasks, .adding-info {
    width: 95% !important;
  }
  .profileImgEdit {
    width: 100%;
    justify-content: center;  
  }

  .buttons {
    position: relative !important;
    justify-content: center;
    right: unset;
  }

  .primary-Button, .secondary-Button {
    gap: 5px !important;
  }
}