input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.addContactContainer {
    position: fixed;
    align-self: center;
    display: grid;
    grid-template-columns: 2fr 1fr 5fr 30px;
    grid-template-rows: 20px auto 80px;
    grid-column-gap: 20px;
    grid-row-gap: 0px;
    z-index: 51;
    max-width: 1212px;
    width: 95%;
    height: 95%;
    max-height: 520px;
    overflow: hidden;
    background: #FFFFFF;
    border-radius: 30px;
    animation: moveContainerInMedia 0.8s forwards;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.moveContainerInMedia {
    animation: moveContainerInMedia 0.8s forwards;
}

.moveContainerOutMedia {
    animation: moveContainerOutMedia 0.8s forwards;
}

.editContactForm {
    z-index: 51;
    width: 1212px;
    height: 594px;
    margin-left: auto;
    margin-right: auto;
    background: #FFFFFF;
    border-radius: 30px;
    animation: moveEditContainerInMedia 0.8s forwards;
}

.moveEditContainerInMedia {
    animation: moveEditContainerInMedia 0.8s forwards;
}

.moveEditContainerOutMedia {
    animation: moveEditContainerOutMedia 0.8s forwards;
}

.d-none {
    display: none;
}

.editContactAround {
    position: fixed;
}

.trashIcon {
    width: 45px;
    height: 45px;
    object-fit: cover;
    display: flex;
    position: absolute;
    left: 765px;
    top: 483px;
    cursor: pointer;
}

.addContactContentContainer {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    padding: 22px 35px 22px;
}
.addContactLeftContainer {
    grid-area: 1 / 1 / 4 / 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 46px;
    padding-right: 16px;
    gap: 12px;
    background: #2A3647;
}

.addContactRightContainer {
    grid-area: 2 / 3 / 3 / 4;
    align-self: center;
    justify-content: space-evenly;
}

.addContactMiddleContainer {
    grid-area: 1 / 2 / 3 / 2;
    align-self: center;
    justify-self: center;
}

.logoAddContact img {
    position: absolute;
    left: 6.04%;
    top: 17.93%;
    width: 55.12px;
    height: 66.48px;
}

.addContactHeadline {
    font-weight: 700;
    font-size: 61px;
    color: #FFFFFF;
}

.tasksAreBetter {
    width: 371px;
    height: 32px;
    font-weight: 300;
    font-size: 27px;
    line-height: 120%;
    color: #FFFFFF;
    flex: none;
    order: 1;
    flex-grow: 0;
    z-index: 1;
}

.addContactLine {
    width: 90px;
    height: 0px;
    border: 2px solid #29ABE2;
    flex: none;
    order: 2;
    flex-grow: 0;
    z-index: 2;
}

.closeAddContact {
    grid-area: 1 / 4;
    justify-content: flex-end;
    position: relative;
    right: 16px;
    top: 16px;
    display: flex;
    width: 100%;

    img {
        width: 21.65px;
        height: 21.65px;
        cursor: pointer;
        transition: transform .2s; 
    }

    img:hover {
        filter: invert(71%) sepia(85%) saturate(3628%) hue-rotate(164deg) brightness(97%) contrast(82%);
        transform: scale(1.5);

    }
}

.addContactInputContainer {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.addContactInputContainer input {
    box-sizing: border-box;
    padding: 13px 21px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    font-weight: 400;
    font-size: 21px;
}

.addContactInputContainer input::placeholder {
    font-size: 21px;
}

.buttonsAddContactContainer {
    grid-area: 3 / 3 / 4 / 4;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 24px;
}

.cancelButton {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 136px;
    height: 61px;
    border: 1px solid #2A3647;
    border-radius: 10px;
    cursor: pointer;
}

.cancelButton:hover {
    border: 1px solid #29ABE2;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.cancelButton img {
    display: flex;
    align-items: center;
}

.cancelButton span {
    font-weight: 400;
    font-size: 21px;
    color: #2A3647;
    flex: none;
}

.cancelButton:hover span {
    color: #29ABE2;
}

.cancelButton:hover img {
    content: url("/assets/img/cancelHover.png")
}

.createContactButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 208px;
    height: 61px;
    background: #2A3647;
    border-radius: 10px;
    cursor: pointer;
    border: none;
}

.createContactButton:hover {
    background: #29ABE2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.createContactButton img {
    display: flex;
    align-items: center;
}

.createContactButton span {
    font-weight: 700;
    font-size: 21px;
    color: #FFFFFF;
}

.dp-none {
    display: none !important;
}

.saveButtonContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    gap: 4px;
    position: absolute;
    width: 143px;
    height: 61px;
    left: 877px;
    top: 475px;
}

.saveButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 10px;
    width: 143px;
    height: 61px;
    background: #2A3647;
    border-radius: 10px;
    flex: none;
    order: 0;
    flex-grow: 0;
    border: none;
}

.saveButton:hover {
    background: #29ABE2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.saveText {
    width: 123px;
    height: 25px;
    font-weight: 700;
    font-size: 21px;
    line-height: 120%;
    text-align: center;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.positionAddTask {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.addTaskContainerContacts {
    position: relative;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    z-index: 13;
    top: 13dvh;
    margin-left: auto;
    margin-right: auto;
}

.addTaskContainerInput {
    position: absolute;
    height: 788px;

    top: -100px;
}

.closeAddTask {
    position: absolute;
    width: 21.65px;
    height: 21.65px;
    left: 1050px;
    top: 26px;
    cursor: pointer;
}

@keyframes moveContainerInMedia {
    from {
        left: -150%;
    }

    to {
        left: 0;
    }
}

@keyframes moveContainerOutMedia {
    from {
        left: 0;
    }

    to {
        left: -150%;
    }
}

@keyframes moveEditContainerInMedia {
    from {
        left: -300%;
    }

    to {
        right: 0;
    }
}

@keyframes moveEditContainerOutMedia {
    from {
        right: 0;
    }

    to {
        left: -300%;
    }
}