@media(max-width: 1590px) {
    .nameDetailAdress {
        font-size: 40px;
    }
}

@media(max-width: 1480px) {
    .nameDetailAdress {
        font-size: 35px;
    }

    .adressImgPlusName {
        gap: 15px;
    }
}

@media(max-width: 1375px) {
    .contactsHeadline {
        font-size: 51px;
    }

    .lettersAdress {
        width: 175px;
    }

    .lineAdress {
        width: 200px;
    }

    .adressField {
        gap: 10px;
    }

    .nameDetailAdress {
        font-size: 37px;
    }
}

@media(max-width: 1160px) {
    .nameDetailAdress {
        font-size: 30px;
    }
}

@media(max-width: 1070px) {
    .nameDetailAdress {
        font-size: 25px;
    }
}

@media(max-width: 1000px) {
    .contactsAdressContainer {
        width: 100%;
        box-shadow: none;
    }

    .lettersAdress {
        width: 90%;
    }

    .lineAdress {
        width: 95%;
    }

    .arrowLeft {
        display: block;
        position: fixed;
        left: auto;
        right: 20px;
        top: 125px;
        cursor: pointer;
        z-index: 12;
    }

    .adressField {
        gap: 10px;
        width: 90%;
    }

    .adressNameContainer {
        max-width: 95%;
    }

    .contactsNewContact {
        right: 20px;
        bottom: auto;
        top: 100px;
    }
}

@media(max-width: 900px) {
    .contactsContainer {
        width: 100%;
        justify-content: center;
    }

    .contactsTextBreakLine {
        order:3;
        width: 59px;
        height: 0px;
    }

    .contactsRightContainer {
        width: 100%;
        justify-content: space-evenly;
        align-items: center;
        margin: 5px;
    }

    .contactsHeadlineContainer {
        flex-direction: column;
        display: flex;
        justify-content: center;
    }

    .kanbanResponsive {
        display: block;
        height: 19px;
        font-size: 16px;
        color: #000000;
    }

    .contactsNewContact {
        top: 94px;
    }
}

@media(max-width: 550px) {
    .adressDetailsImg {
        width: 80px;
        height: 80px;
        font-size: 27px;
    }

    .contactsContainer {
        overflow-y: auto;
    }

    .contactsContainer::-webkit-scrollbar {
        width: 3px;
    }

    .contactsContainer::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    .contactsContainer::-webkit-scrollbar-thumb {
        background: #888;
    }

    .contactsContainer::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

    .emailAdress {
        width: 250px;
    }
}

@media(max-width: 400px) {
    .nameDetailAdress {
        word-break: break-word;
    }

    .emailAdress {
        width: 170px;
    }
}