body {
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
}

.bg-contacts {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.26);
    z-index: 50;
}

.d-none {
    display: none;
}

.contactCreated {
    position: absolute;
    top: auto;
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: 326px;
    height: 74px;
    background: #2A3647;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    z-index: 51;
    animation: contactCreatedButton 0.5s forwards;
}

@keyframes contactCreatedButton {
    from {
        bottom: -100px;
    }

    to {
        bottom: 100px;
    }
}

@keyframes contactCreatedButtonOut {
    from {
        bottom: 100px;
    }

    to {
        bottom: -100px;
    }
}

.contactCreatedButton {
    animation: contactCreatedButtonOut 0.5s forwards;
}

.contactCreated span {
    height: 25px;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    color: #FFFFFF;
}

.contactsContainer {
    display: flex;
    overflow: auto;
}

.contactsAdressContainer {
    width: 35%;
    z-index: 1;
    overflow-y: auto;
    background: #FFFFFF;
    box-shadow: 4px 0px 6px rgba(0, 0, 0, 0.08);
}

.adressSection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lettersAdress {
    width: 282px;
    height: 40px;
    font-size: 21px;
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    color: #000000;
}

.arrowLeft {
    display: none;
    transition: transform .2s; 
}

.arrowLeft:hover {
    cursor: pointer;
    filter: invert(71%) sepia(85%) saturate(3628%) hue-rotate(164deg) brightness(97%) contrast(82%);
    transform: scale(1.5);
}
.lineAdress {
    width: 323px;
    height: 0px;
    border: 1px solid #D1D1D1;
    border-radius: 3px;
    margin-bottom: 15px;
}

.adressField {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 35px;
    width: 85%;
    min-height: 75px;
    padding: 5px 2.5% 5px 2.5%;
    background: #FFFFFF;
    border-radius: 10px;
}

.adressMail {
    color: #007CEE;
}

.adressField:hover {
    background: #2A3647;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    cursor: pointer;
}

.adressField:hover .adressName {
    color: #FFFFFF;
}

.adressImgField div {
    width: 42px;
    height: 42px;
}

.adressNameContainer {
    display: flex;
    flex-direction: column;
    word-break: break-word;
}

.contactsRightContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 30px;
    background: #F5F5F5;
    width: 65%;
}

.kanbanResponsive {
    display: none;
}

.contactsHeadlineContainer {
    display: flex;
    align-items: center;
    gap:10px
}

.contactsHeadline {
    font-weight: 700;
    font-size: 61px;
    color: #000000;
}

.contactsTextBreakLine {
    width: 0px;
    height: 59px;
    border: 2px solid #29ABE2;
}

.contactsBetterWithATeam {
    font-size: 27px;
    color: #2A3647;
}

.adressDetails {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 21px;
}

.adressDetailsImg {
    width: 120px;
    height: 120px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 47px;
}

.adressImgPlusName {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 54px;
    height: 120px;
}

.adressImg {
    width: 42px;
    height: 42px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.adressNamePlusAddTask {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 13px;
}

.nameDetailAdress {
    font-weight: 500;
    font-size: 47px;
    display: flex;
    align-items: center;
    color: #000000;
}

.adressAddTaskContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 13px;
    width: 128px;
    height: 19px;
    cursor: pointer;
}

.adressAddTaskContainer img {
    display: flex;
    align-items: center;
}

.adressAddTaskContainer span {
    width: 100px;
    height: 19px;
    font-size: 16px;
    display: flex;
    align-items: center;
    color: #29ABE2;
}

.contactInformationContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 59px;
    width: 392.85px;
    height: 74px;
}

.contactInfoHeadline {
    width: 207px;
    height: 74px;
    font-size: 21px;
    display: flex;
    align-items: center;
    color: #000000;
}

.emailPlusPhoneContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 22px;
    height: 128px;
    margin-left: 5px;
}

.emailContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 15px;
}

.phoneContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 15px;
    height: 53px;
}

.emailHeadline {
    width: 43px;
    height: 19px;
    font-weight: 700;
    font-size: 16px;
    display: flex;
    align-items: center;
    color: #000000;
}

.emailAdress {
    font-size: 16px;
    display: flex;
    align-items: center;
    word-break: break-all;
}

.emailAdress a {
    text-decoration: none;
    color: #007CEE;
}

.phoneHeadline {
    width: 50px;
    height: 19px;
    font-weight: 700;
    font-size: 16px;
    display: flex;
    align-items: center;
    color: #000000;
}

.phoneNumber {
    height: 19px;
    font-size: 16px;
    display: flex;
    align-items: center;
}

.phoneNumber a {
    text-decoration: none;
    color: #000000;
}

.contactsNewContact {
    display: flex;
    position: absolute;
    width: 193px;
    height: 53px;
    right: 52px;
    bottom: 67px;
    span {
        font-weight: 700;
        font-size: 21px;
        color: #FFFFFF;
    }

    img {
        width: 29px;
    }
}

.editContactContainer {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    img {
        width: 30px;
        align-self: center;
    }
}